@font-face {
    font-family: 'icomoon';
    src:    url('../../fonts/icomoon.eot?qzc67y');
    src:    url('../../fonts/icomoon.eot?qzc67y#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?qzc67y') format('truetype'),
        url('../../fonts/icomoon.woff?qzc67y') format('woff'),
        url('../../fonts/icomoon.svg?qzc67y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tolerancia:before {
    content: "\e911";
}
.icon-apoyo:before {
    content: "\e912";
}
.icon-becas:before {
    content: "\e913";
}
.icon-cercana:before {
    content: "\e914";
}
.icon-corredor:before {
    content: "\e915";
}
.icon-desarrollo:before {
    content: "\e916";
}
.icon-amibiental:before {
    content: "\e917";
}
.icon-financiamiento:before {
    content: "\e918";
}
.icon-iconos-pg-01:before {
    content: "\e919";
}
.icon-madres:before {
    content: "\e91a";
}
.icon-home:before {
    content: "\e900";
}
.icon-pencil2:before {
    content: "\e901";
}
.icon-books:before {
    content: "\e902";
}
.icon-library:before {
    content: "\e903";
}
.icon-coin-dollar:before {
    content: "\e904";
}
.icon-envelop:before {
    content: "\e905";
}
.icon-location2:before {
    content: "\e906";
}
.icon-compass:before {
    content: "\e907";
}
.icon-compass2:before {
    content: "\e908";
}
.icon-spinner4:before {
    content: "\e909";
}
.icon-cogs:before {
    content: "\e90a";
}
.icon-bug:before {
    content: "\e90b";
}
.icon-hammer2:before {
    content: "\e90c";
}
.icon-accessibility:before {
    content: "\e90d";
}
.icon-woman:before {
    content: "\e90e";
}
.icon-man-woman:before {
    content: "\e90f";
}
.icon-facebook:before {
    content: "\e910";
}

